
@use "../common/colors" as color;
@use "../common/function" as func;

.add_product_container{
    margin-top: 20px;
}
.products-page{
    margin-top: 100px;
}
.review-modal{
    .rating{
        margin-bottom: 20px;
        img{
            width: 26px;
            height: 26px;
            object-fit: contain;
        }
    }
    .text-area{
        padding: 10px;
        margin-bottom: 20px;
        &:focus{
            outline: none;
        }
    }
}