
@use "../common/colors" as color;
@use "../common/function" as func;

.my-container{

    .product-header{
        h1{
            width: 80%;

        }
        .btn-danger{
            padding: 10px 15px;
            height: 50px;
        }
    }
}
.product_display_container{
    margin: 0 60px;
    .image_section{
        margin-right: 60px;
        .img{
            width: 300px;
            height: 300px;
            object-fit: contain;
        }
    }
    .product_info_section{
        // position: relative;
        .add-to-cart{
            // position: absolute;
            // bottom: 0px;
            width: 100%;
            height: 50px;
            border-radius: 0px;
        }
        .admin-edit-container{
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 10px;
            input{
                height: 40px;
                width: 100%;
                padding: 2px 10px;
                
            }
            svg{
                position: absolute;
                right: 10px;
                font-size: func.to-rem(24);
            }
        }
        .titles{
            // margin-bottom: 30px;
        }
        .product-description{

        }
        .titles , .product-description {
            margin-bottom: 30px;
            
        }
        .other-info{
           margin-bottom: 20px;
            .info{
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 10px;
                &:not(:last-child){
                    border-right: 2px solid color.$grey;

                }
                width: 100%;
                font-size: func.to-rem(20);
                
                .title{
                    font-weight: 700;
                    color: color.$black;

                }
            }
        }

    }
}