@keyframes bottomUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.c-pointer {
  cursor: pointer;
}

.icon-container {
  display: flex;
  align-items: center;
}
.icon-container svg {
  width: 50px;
  height: 24px;
}

#company__logo {
  width: 24px;
  height: 24px;
}

.btn {
  padding: 0px;
  margin: 0px;
}
.btn:hover {
  border-color: transparent;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.add-to-cart:hover {
  background-color: #5C8984;
}

.add_product_btn {
  margin-top: 10px;
  border-bottom: 2px solid #F8F6F4;
}
.add_product_btn button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 5px;
  background-color: transparent;
  border: none;
  color: black;
}
.add_product_btn button:focus, .add_product_btn button:hover {
  background-color: transparent;
  border: none;
}
.add_product_btn button:hover {
  color: black;
}
.add_product_btn button svg {
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: inherit;
}

.rating_container .stars img {
  width: 24px;
}

p {
  margin: 0px;
  padding: 0px;
}

button {
  padding: 0px;
  margin: 0px;
}

nav, ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

.sign-out-btn {
  background-color: #FFB84C;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
}

.primary-btn {
  background-color: #7AA874;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}
.primary-btn:hover {
  color: white;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.my-container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
}

.bottom_up_animation {
  transform: translateZ(0);
  will-change: transform;
}

.add-to-cart {
  padding: 10px 15px;
  background-color: #5C8984;
  border: none;
}

.m-r-10 {
  margin-right: 10px;
}

.vh-80 {
  height: 80vh;
}

input:focus {
  outline: none;
}

body {
  background-color: white;
}

.header__container {
  padding: 0.9375rem 1.5rem;
  box-shadow: 0 0px 5px -1px;
}
.header__container .navbar-brand .company__name {
  margin-left: 5px;
  font-weight: 700;
}
.header__container .navbar-collapse .navbar-nav .nav-li {
  cursor: pointer;
}
.header__container .navbar-collapse .navbar-nav .nav-li:not(:last-child) {
  margin-right: 24px;
}
.header__container .navbar-collapse .navbar-nav .header__dropdown .dropdown .dropdown-menu {
  width: 700px;
  padding: 1.5625rem;
}
.header__container .navbar-collapse .navbar-nav .header__dropdown .dropdown .dropdown-menu .title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.header__container .navbar-collapse .navbar-nav .header__dropdown .dropdown .dropdown-menu .row .column {
  padding: 0px !important;
}
.header__container .navbar-collapse .navbar-nav .header__dropdown .dropdown .dropdown-menu .row .column .dropdown-item:hover {
  background-color: white;
}
.header__container .navbar-collapse .navbar-nav .header__dropdown .dropdown .dropdown-menu .row .column .dropdown-item .dropdown__holder {
  padding: 5px;
  background-color: #f2f2f2;
  border-radius: 4px;
}
.header__container .navbar-collapse .navbar-nav .header__dropdown .dropdown .dropdown-menu .row .column .dropdown-item .dropdown__holder .category__info .title {
  font-size: 1.25rem;
  font-weight: 500;
}
.header__container .container .dropdown__container .dropdown-toggle {
  background-color: transparent;
  border: none;
  border-radius: 50px;
}
.header__container .container .dropdown__container .dropdown-toggle img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50px;
}
.header__container .container .dropdown__container .dropdown-toggle::after {
  display: none;
}
.header__container .container .cart {
  margin-left: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.header__container .container .cart svg {
  font-size: 1.5rem;
}
.header__container .container .cart:hover {
  background-color: #f2f2f2;
}

.table_container {
  margin-top: 20px;
}
.table_container table {
  width: 100%;
}
.table_container table thead th {
  text-align: center;
  padding: 10px;
  border: 2px solid #f2f2f2;
  background-color: #F8F6F4;
}
.table_container table tbody tr {
  cursor: pointer;
}
.table_container table tbody tr:hover {
  background-color: #E3F4F4;
}
.table_container table tbody tr td {
  padding: 10px;
  text-align: center;
  border: 2px solid #f2f2f2;
}

.authForm__container {
  background-color: #E3F4F4;
  border: none;
}
.authForm__container .auth__form {
  width: 300px;
  box-shadow: -1px 0px 2px 0px;
  background-color: #F8F6F4;
  padding: 24px;
  border-radius: 5px;
}
.authForm__container .auth__form .title {
  font-size: 1.5rem;
}
.authForm__container .auth__form .form-control:focus {
  outline: none;
  box-shadow: none;
}
.authForm__container .auth__form .form-control,
.authForm__container .auth__form .title,
.authForm__container .auth__form .or-div,
.authForm__container .auth__form .btn,
.authForm__container .auth__form p {
  margin-bottom: 10px;
}
.authForm__container .auth__form .confirm_password_container .form-control {
  margin: 0px;
}
.authForm__container .auth__form p {
  font-size: 0.875rem;
}
.authForm__container .auth__form p:hover {
  text-decoration: underline;
}
.authForm__container .auth__form .auth-button {
  background-color: transparent;
}
.authForm__container .auth__form .auth-button img {
  width: 24px;
  height: 24px;
}
.authForm__container .auth__form .back-btn {
  text-align: center;
}
.authForm__container .auth__form .back-btn a {
  color: blue;
}
.authForm__container .auth__form .back-btn a:hover {
  text-decoration: underline;
}

.display-cart-container .offcanvas-header .offcanvas-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.display-cart-container .offcanvas-header .offcanvas-title img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 20px;
}
.display-cart-container .offcanvas-header .offcanvas-title .remove-all {
  color: crimson;
  text-decoration: underline;
  cursor: pointer;
  background: transparent !important;
  border: none;
}
.display-cart-container .offcanvas-body .cart-items {
  height: 100%;
  position: relative;
}
.display-cart-container .offcanvas-body .cart-items .total {
  padding-top: 5px;
  border-top: 2px solid black;
  margin-bottom: 10px;
}
.display-cart-container .offcanvas-body .cart-items .add-to-cart {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.display-cart-container .offcanvas-body .cart-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cart-cart-container {
  padding: 10px;
  border-radius: 10px;
}
.cart-cart-container:hover {
  background-color: #f2f2f2;
}
.cart-cart-container:not(:last-child) {
  margin-bottom: 20px;
}
.cart-cart-container .info-container {
  display: flex;
}
.cart-cart-container .info-container .product-image {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 20px;
}
.cart-cart-container .btn-section {
  margin-top: 10px;
}
.cart-cart-container .btn-section .quantity-counter {
  padding: 10px 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.cart-cart-container .btn-section .quantity-counter .plus {
  margin-right: 10px;
  cursor: pointer;
}
.cart-cart-container .btn-section .quantity-counter .minus {
  margin-left: 10px;
  cursor: pointer;
}
.cart-cart-container .btn-section .btn-danger {
  padding: 10px 20px;
}

.home_page_container .main_carousel_container {
  margin-bottom: 80px;
}
.home_page_container .main_carousel_container .slick-slider {
  overflow: hidden;
}
.home_page_container .main_carousel_container .slick-slider .slick-list .slick-track .slick-slide .home_carousel_data {
  position: relative;
  color: white;
  mix-blend-mode: difference;
  filter: drop-shadow(0.05em 0.05em orange);
}
.home_page_container .main_carousel_container .slick-slider .slick-list .slick-track .slick-slide .home_carousel_data img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home_page_container .main_carousel_container .slick-slider .slick-list .slick-track .slick-slide .home_carousel_data .category__info {
  width: 600px;
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}
.home_page_container .main_carousel_container .slick-slider .slick-list .slick-track .slick-slide .home_carousel_data .category__info h2,
.home_page_container .main_carousel_container .slick-slider .slick-list .slick-track .slick-slide .home_carousel_data .category__info p {
  margin-bottom: 20px;
}
.home_page_container .main_carousel_container .slick-slider .slick-list .slick-track .slick-slide .home_carousel_data .category__info h2 {
  font-size: 4rem;
  font-weight: 700;
}
.home_page_container .main_carousel_container .slick-slider .slick-list .slick-track .slick-slide .home_carousel_data .category__info p {
  font-size: 1.25rem;
}
.home_page_container .main_carousel_container .slick-slider .slick-list .slick-track .slick-slide .home_carousel_data .category__info .btn {
  background-color: #7AA874;
}
.home_page_container .display_categories {
  margin-bottom: 80px;
}
.home_page_container .display_categories .title {
  font-weight: 600;
  font-size: 1.875rem;
  margin-bottom: 30px;
}
.home_page_container .display_categories .cards_container .animate {
  animation-name: slideUp 1s ease-in-out forwards;
}
.home_page_container .display_categories .cards_container .category_card {
  position: relative;
}
.home_page_container .display_categories .cards_container .category_card:nth-child(1) {
  transition-delay: 0s;
}
.home_page_container .display_categories .cards_container .category_card:nth-child(2) {
  transition-delay: 0.2s;
}
.home_page_container .display_categories .cards_container .category_card:nth-child(3) {
  transition-delay: 0.4s;
}
.home_page_container .display_categories .cards_container .category_card:nth-child(4) {
  transition-delay: 0.6s;
}
.home_page_container .display_categories .cards_container .category_card:nth-child(5) {
  transition-delay: 0.8s;
}
.home_page_container .display_categories .cards_container .category_card:nth-child(6) {
  transition-delay: 1s;
}
.home_page_container .display_categories .cards_container .category_card .category {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}
.home_page_container .display_categories .cards_container .category_card .image {
  transition: all 1s ease-in-out;
  border-radius: 15px;
}
.home_page_container .display_categories .cards_container .category_card .image:hover {
  transform: scale(1.2);
}
.home_page_container .display_products .title {
  font-weight: 600;
  font-size: 1.875rem;
  margin-bottom: 30px;
}
.home_page_container .display_products .cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
}
.home_page_container .display_products .cards-list .card {
  border: none;
  width: 300px;
}
.home_page_container .display_products .cards-list .card .card-thumbnail {
  border-radius: 10px;
  background-color: #f2f2f2;
}
.home_page_container .display_products .cards-list .card .card-thumbnail .poster {
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
.home_page_container .display_products .cards-list .card .card-body .card-text {
  font-size: 0.75rem;
  margin-bottom: 5px;
}
.home_page_container .display_products .cards-list .card .card-body .rating_container {
  margin: 0 0 10px 0px;
}

.user-product-display .product-display-container {
  margin-top: 30px;
}
.user-product-display .left img {
  width: 80%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.user-product-display .right .product-info .box {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.user-product-display .right .product-info .box span:first-child {
  margin-bottom: 5px;
  font-weight: 700;
}
.user-product-display .right .product-info .box:not(:last-child) {
  border-right: 2px solid #f2f2f2;
}
.user-product-display .right .btn-section .quantity-counter {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
}
.user-product-display .right .btn-section .quantity-counter .plus {
  margin-right: 10px;
  cursor: pointer;
}
.user-product-display .right .btn-section .quantity-counter .minus {
  margin-left: 10px;
  cursor: pointer;
}

.add_product_container {
  margin-top: 20px;
}

.my-container .product-header .btn-danger {
  padding: 10px 15px;
}

.product_display_container {
  margin-top: 60px;
}
.product_display_container .image_section {
  margin-right: 60px;
}
.product_display_container .image_section .img {
  width: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}
.product_display_container .product_info_section {
  position: relative;
}
.product_display_container .product_info_section .add-to-cart {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  border-radius: 0px;
}
.product_display_container .product_info_section .admin-edit-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.product_display_container .product_info_section .admin-edit-container input {
  height: 40px;
  width: 100%;
  padding: 2px 10px;
}
.product_display_container .product_info_section .admin-edit-container svg {
  position: absolute;
  right: 10px;
  font-size: 1.5rem;
}
.product_display_container .product_info_section .titles, .product_display_container .product_info_section .product-description {
  margin-bottom: 30px;
}
.product_display_container .product_info_section .other-info .info {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  font-size: 1.25rem;
}
.product_display_container .product_info_section .other-info .info:not(:last-child) {
  border-right: 2px solid #f2f2f2;
}
.product_display_container .product_info_section .other-info .info .title {
  font-weight: 700;
  color: black;
}

.add-modal .modal-body {
  margin-top: 20px;
}
.add-modal form {
  width: 100%;
}
.add-modal form .drag-zone {
  width: auto;
  height: 100px;
  margin: 20px 0;
  text-align: center;
}
.add-modal form .drag-zone img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.add-modal form input {
  padding: 5px 10px;
  margin-bottom: 20px;
}
.add-modal form .add-to-cart {
  margin-bottom: 20px;
}

.delete-modal .modal-body .btn-section button {
  padding: 10px;
}
.delete-modal .modal-body .btn-section button:not(:last-child) {
  margin-right: 5px;
}

.profile-page {
  margin-top: 20px;
}
.profile-page .my-container {
  padding: 0 140px;
}
.profile-page .my-container .profile-sidebar {
  display: flex;
  margin-right: 30px;
  width: 20%;
}
.profile-page .my-container .profile-sidebar ul .nav-link {
  margin: 0 0 20px 0;
}
.profile-page .my-container .profile-sidebar ul .nav-link:not(:last-child) {
  margin-bottom: 5px;
}
.profile-page .my-container .profile-sidebar ul .nav-link:hover {
  border-bottom: 2px solid #5C8984;
}
.profile-page .my-container .profile-header {
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 2px solid black;
}
.profile-page .my-container .profile-form .left .user-image {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
.profile-page .my-container .profile-form .right .row {
  margin-bottom: 10px;
}
.profile-page .my-container .profile-form .right .row .column .input-field {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 5px;
}
.profile-page .my-container .profile-form .right .row .column .input-field .input-header {
  position: relative;
}
.profile-page .my-container .profile-form .right .row .column .input-field .input-header svg {
  cursor: pointer;
  position: absolute;
  right: 0px;
}
.profile-page .my-container .profile-form .right .btn-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-page .my-container .profile-form .right .btn-row .submit-btn {
  width: 100px;
  padding: 10px;
}
.profile-page .my-container .shippingDetails {
  width: 100%;
}
.profile-page .my-container .shippingDetails .title {
  padding-bottom: 20px;
  border-bottom: 2px solid;
  margin-bottom: 20px;
}
.profile-page .my-container .shippingDetails .shipping-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-page .my-container .shippingDetails .shipping-form .add-to-cart {
  width: 500px;
}
.profile-page .my-container .shippingDetails .shipping-form .container-fluid .row {
  margin-bottom: 10px;
}
.profile-page .my-container .shippingDetails .shipping-form .container-fluid .row .column .input-field {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 5px;
}
.profile-page .my-container .shippingDetails .shipping-form .container-fluid .row .column .input-field .input-header {
  position: relative;
}
.profile-page .my-container .shippingDetails .shipping-form .container-fluid .row .column .input-field .input-header svg {
  cursor: pointer;
  position: absolute;
  right: 0px;
}

.billing_page {
  margin-top: 20px;
}
.billing_page .show-order {
  padding: 15px;
  box-shadow: 0 0 1px 1px #f2f2f2;
  height: -moz-max-content;
  height: max-content;
  max-width: 400px;
  border-radius: 5px;
  margin-right: 20px;
}
.billing_page .show-shipping-details {
  box-shadow: 0 0 1px 1px #f2f2f2;
}
.billing_page .show-shipping-details h5 {
  padding: 10px 0 0 0;
}
.billing_page .show-shipping-details .shipping-detail {
  padding: 15px;
}
.billing_page .show-shipping-details .shipping-detail ul li {
  display: flex;
}
.billing_page .show-shipping-details .shipping-detail ul li:not(:last-child) {
  margin-bottom: 15px;
}
.billing_page .show-shipping-details .shipping-detail ul li .title {
  font-weight: 700;
  width: 150px;
}
.billing_page .show-shipping-details .shipping-detail .nav-link {
  margin-top: 20px;
  color: white;
  border-radius: 5px;
}

.display-order-card {
  border: 2px solid black;
  padding: 15px;
  border-radius: 5px;
}
.display-order-card:not(:last-child) {
  margin-bottom: 10px;
}
.display-order-card .display-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.display-order-card .display-title .timeStamp {
  padding: 0 0 5px 0;
  font-weight: 700;
}
.display-order-card .display-title .pay-now {
  color: white;
  border-radius: 5px;
  padding: 5px;
  background-color: #FFB84C;
  cursor: pointer;
}
.display-order-card .display-title .delete-order {
  background-color: crimson;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.display-order-card .order-header .order-header-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 26.6666666667%;
  padding: 0 0 5px 0;
}
.display-order-card .order-header .order-header-wrapper .key {
  font-weight: 700;
}
.display-order-card .order-header .order-header-wrapper .orderId {
  cursor: pointer;
}
.display-order-card .order-header .order-header-wrapper .orderId:hover {
  padding: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.display-order-card .order-header .order-header-wrapper .value .success {
  padding: 5px;
  color: white;
  background-color: green;
  border-radius: 5px;
}
.display-order-card .order-header .order-header-wrapper .value .failure {
  color: white;
  border-radius: 5px;
  padding: 5px;
  background-color: crimson;
}
.display-order-card .order-body .table th, .display-order-card .order-body .table td {
  text-align: center;
  vertical-align: middle;
}
.display-order-card .order-body .table tbody .body-order-wrapper-row .order-image img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
.display-order-card .order-footer .total {
  font-weight: 700;
}
.display-order-card .order-footer .dispatch-btn {
  padding: 5px;
  color: white;
}

.admin-order-page {
  margin: 20px 0 0 0;
}

.admin-panel-container {
  margin: 20px 0 0 0;
}
.admin-panel-container .admin-panel-header {
  padding: 10px;
  background-color: #7AA874;
  color: white;
  font-size: 1.5625rem;
  margin-bottom: 40px;
}
.admin-panel-container .pie-chart-container .pie .title {
  margin-bottom: 20px;
}

.category-card {
  position: relative;
}
.category-card:not(:last-child) {
  margin-right: 10px;
}
.category-card img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.category-card h4 {
  position: absolute;
  top: 15px;
  left: 30px;
  padding: 10px;
  background-color: #7AA874;
  color: white;
}

.category-page {
  margin: 40px 0 0 0;
}
.category-page .product-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
}
.category-page .product-list .card {
  border: none;
}
.category-page .product-list .card .card-thumbnail {
  position: relative;
  border-radius: 10px;
  background-color: #f2f2f2;
}
.category-page .product-list .card .card-thumbnail .poster {
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
.category-page .product-list .card .card-thumbnail .badge {
  position: absolute;
  top: 10px;
  right: 10px;
}
.category-page .product-list .card .card-body .card-text {
  font-size: 0.75rem;
  margin-bottom: 5px;
}
.category-page .product-list .card .card-body .rating_container {
  margin: 0 0 10px 0px;
}

.add-category-container {
  margin: 40px 0 0 0;
}/*# sourceMappingURL=style.css.map */