@use "function" as func;
@use "colors" as color;

.authForm__container {
    background-color: color.$auth_body_backgroundColor;
    border: none;

    .auth__form {
        width: 300px;
        box-shadow: -1px 0px 2px 0px;
        background-color: color.$auth_form_backgroundColor;
        padding: 24px;
        border-radius: 5px;

        .title {
            font-size: func.to-rem(24);
        }

        .form-control {
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .form-control,
        .title,
        .or-div,
        .btn,
        p {
            margin-bottom: 10px;
        }

        .confirm_password_container {
            .form-control {
                margin: 0px;

            }
        }

        p {
            font-size: func.to-rem(14);

            &:hover {
                text-decoration: underline;
            }
        }

        .auth-button {
            background-color: transparent;

            img {
                width: 24px;
                height: 24px;
            }
        }

        .back-btn {
            text-align: center;
            a {
                color: blue;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        // width: calc(100% - 20px);
    }
}