@use "colors" as color;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.c-pointer {
    cursor: pointer;
}

.icon-container {
    display: flex;
    align-items: center;

    svg {
        width: 50px;
        height: 24px;
    }
}

#company__logo {
    width: 24px;
    height: 24px;
}

.btn {
    padding: 0px;
    margin: 0px;
    &:hover{
        border-color: transparent;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.add-to-cart{
    &:hover{
        background-color: color.$add-to-btn;
        
    }
}
.rating_container{
    .stars{
        img{
            width: 24px;
        }
    }
}
p {
    margin: 0px;
    padding: 0px;
}
button{
    padding: 0px;
    margin: 0px;
}
.primary-btn{
    background-color: color.$learn_more_btn;
    padding: 10px 20px;
    color: color.$white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    &:hover{
        color: color.$white;
    }
}

.my-container{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
}
.bottom_up_animation{
    transform: translateZ(0);
    will-change: transform;
}
.add-to-cart{
    padding: 10px 15px;
    background-color: color.$add-to-btn;
    border: none;
}
body {
    background-color: color.$background-color;
}