@use "colors" as color;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.c-pointer {
    cursor: pointer;
}

.icon-container {
    display: flex;
    align-items: center;

    svg {
        width: 50px;
        height: 24px;
    }
}

#company__logo {
    width: 24px;
    height: 24px;
}

.btn {
    padding: 0px;
    margin: 0px;
    &:hover{
        border-color: transparent;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.add-to-cart{
    &:hover{
        background-color: color.$add-to-btn;
        
    }
}

.add_product_btn{
    margin-top: 10px;
    button{
        display: flex;
        align-items: center;
        padding: 10px 15px;
        margin-bottom: 5px;
        background-color: transparent;
        border: none;
        color: color.$black;

        &:focus , &:hover{
            background-color: transparent;
            border: none;
        }
        &:hover{
            color : color.$black;
        }
        svg{
            margin-right: 5px;
        }
    }
    border-bottom: 2px solid color.$auth_form_backgroundColor;
}

a{
    text-decoration: none;
    color: black;
    &:hover{
        color: inherit;
    }
}
.rating_container{
    .stars{
        img{
            width: 24px;
        }
    }
}
p {
    margin: 0px;
    padding: 0px;
}

button{
    padding: 0px;
    margin: 0px;
}
nav,ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}

.sign-out-btn{
    background-color: color.$orange;
    border-radius: 50px;
    padding: 10px 20px;
    border:none
}
.primary-btn{
    background-color: color.$learn_more_btn;
    padding: 10px 20px;
    color: color.$white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    &:hover{
        color: color.$white;
    }
}

.m-t-10{
    margin-top: 10px;
}
.m-b-20{
    margin-bottom: 20px;
}
.my-container{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
}
.bottom_up_animation{
    transform: translateZ(0);
    will-change: transform;
}
.add-to-cart{
    padding: 10px 15px;
    background-color: color.$add-to-btn;
    border: none;
}

input{
    &:focus{
        outline: none;
    }
}
body {
    background-color: color.$background-color;
}