
@use "./colors" as color;
@use "function" as func;

.display-cart-container{
    .offcanvas-header{
        .offcanvas-title{
            display:  flex;
            align-items: center;
            justify-content: space-between;
            img{
                width: 50px;
                height: 50px;
                object-fit: contain;
                margin-right: 20px;
            }
            .remove-all{
                color: color.$red;
                text-decoration: underline;
                cursor: pointer;
                background: transparent !important;
                border: none;
            }
        }
    }
    .offcanvas-body{
        .cart-items{
            height: 100%;
            position: relative;
            .total{
                padding-top: 5px;
                border-top: 2px solid color.$black;
                margin-bottom: 10px;
            }
            .add-to-cart{
                position: absolute;
                bottom: 0px;
                width: 100%;
            }
        }
        .cart-empty{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

    }
}
.cart-cart-container{
    padding: 10px;
    border-radius: 10px;
    &:hover{
        background-color: color.$grey;
    }
    &:not(:last-child){
        margin-bottom: 20px;
    }
    .info-container{
        display: flex;
        .product-image{
            width: 60px;
            height: 60px;
            object-fit: contain;
            margin-right: 20px;
        }
        
    }
    .btn-section{
        margin-top: 10px;
        .quantity-counter{
            padding: 10px 20px;
            background-color: color.$grey;
            border-radius: 10px;
            .plus{
                margin-right: 10px;
                cursor: pointer;
            }
            .minus{
                margin-left: 10px;
                cursor: pointer;
            }
        }
        .btn-danger{
            padding: 10px 20px;

        }
    }
}