
$auth_body_backgroundColor : #E3F4F4;
$auth_form_backgroundColor : #F8F6F4;

$background-color : white;
$grey : #f2f2f2;
$learn_more_btn : #7AA874;
$white : white;
$add-to-btn : #5C8984;
$black : black;
$red : crimson;