
@use "./colors" as colors;
@use "./function" as func;
@use "./mixin" as mixin;

.filter-container{
    .filters{
        margin: 40px 0 0 0 ;
        .filter-title{
            color: colors.$black;
            opacity: 0.3;
        }
        .category-dropdown{
            .dropdown{
                .dropdown-menu{
                    .dropdown-item{
                        &:active{
                            background-color: inherit;
                            color: inherit;
                        }
                    }
                }
            }
        }
    }
}