@use "../common/colors" as color;

.profile-page {
    margin-top: 20px;

    .my-container {
        padding: 0 140px;

        .profile-sidebar {
            display: flex;
            margin-right: 30px;
            width: 20%;

            ul {
                .nav-link {
                    margin: 0 0 20px 0;

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }

                    &:hover {
                        border-bottom: 2px solid color.$add-to-btn;
                    }
                }

            }
        }

        .profile-header {
            padding-bottom: 20px;
            margin-bottom: 40px;
            border-bottom: 2px solid color.$black;
        }

        .profile-form {
            .left {
                .input-field{
                    position: relative;

                    .preview-image-holder {
                        opacity: 0;
                        position: absolute;
                        top: 33px;
                        width: 100px;
                        height: 100px;
                    }
                }

                .user-image {
                    width: 100px;
                    height: 100px;
                    object-fit: contain;
                    border-radius: 50%;
                }

            }

            .right {
                .row {
                    margin-bottom: 10px;

                    .column {
                        .input-field {
                            background-color: color.$grey;
                            padding: 15px;
                            border-radius: 5px;

                            .input-header {
                                position: relative;

                                svg {
                                    cursor: pointer;
                                    position: absolute;
                                    right: 0px;
                                }
                            }
                        }
                    }


                }

                .btn-row {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .submit-btn {
                        width: 100px;
                        padding: 10px;
                    }
                }
            }
        }

        .shippingDetails {
            width: 100%;

            .title {
                padding-bottom: 20px;
                border-bottom: 2px solid;
                margin-bottom: 20px;
            }

            .shipping-form {
                display: flex;
                flex-direction: column;
                align-items: center;

                .add-to-cart {
                    width: 500px;
                }

                .container-fluid {
                    .row {
                        margin-bottom: 10px;

                        .column {
                            .input-field {
                                background-color: color.$grey;
                                padding: 15px;
                                border-radius: 5px;

                                .input-header {
                                    position: relative;

                                    svg {
                                        cursor: pointer;
                                        position: absolute;
                                        right: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.review-carousel{
    margin-top: 100px;
    h4{
        margin-bottom: 50px;
    }
    .slick-slider{
        .slick-list{
            .slick-track{
                width: 10000px !important;
            }
            .slick-slide{
                margin-right: 10px;
            }
        }
    }
}
.reviewCard{
    width: 400px;
    height: 400px;
    .upper{
        position: relative;
        
        .background-image{
            width: 100%;
        }
        .profile-image{
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            bottom: -50px;
            left: 37%
        }
    }
    .lower{
        position: relative;
        top: 70px;
        .rating_container{
            display: flex;
            margin-bottom: 10px;
        }
    }
}