
@use "../common/colors" as colors;
@use "../common/function" as func;

.filter-btn{
    padding: 10px 20px;
    background-color: colors.$learn_more_btn;
    border: none;
    margin-top: 5px;
    &:focus , &:hover , &:active ,&:not(.btn-check)+.btn:active {
        background-color: colors.$learn_more_btn;
    }
    &:not(:last-child){
        margin-right: 20px;
    }
}
.admin-filter-container{
    margin-top: 20px;
    .filter-holder{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
        .admin-filter{
            padding: 10px 15px;
            .filter-subcategory{
                padding: 0 0 0 15px;
            }
        }
    }
}
.admin-order-filter-container{
    margin-right: 50px;
    padding: 10px 20px;
    position: inherit;
    width: 250px;
    .admin-order-filter{
        // width: 250px;   
        position: fixed;
        top: 120px;
        .filter-title{
            margin-top: 20px ;
            font-size: 18px;
            font-weight: 500;
            color: colors.$black;
        }
        .filter-holder{
            margin-bottom: 20px;
            .radio-label{
                margin:5px 0 0 0;
                input{
                    margin-left: 10px;
                }
            }
        }
        .reset-btn{
            padding: 10px 20px;
            background-color: colors.$add-to-btn;
            border: none;
        }
    }
}